@model ELAKIL.Business.Entities.About
@{
    ViewBag.Title = "About";
}

<head>
    <style>
        #topbar, header {
            position: static !important
        }
    </style>
</head>

<div class="ml-5 mr-5 mb-5">
    <div class="row">
        <div class="col">
            <div class="row">
                <h2>About US</h2>
                <p>@Model.AboutUs</p>
            </div>
            <div class="row">
                <a class="w-auto" href="@Model.FaceBook">
                    <i class="bx bxl-facebook"></i> Facebook
                </a>
                <a class="w-auto" href="@Model.Twitter">
                    <i class="bx bxl-twitter"></i> Twitter
                </a>
                <a class="w-auto" href="https://wa.me/@Model.Whatsapp">
                    <i class="bx bxl-whatsapp"></i> @Model.Whatsapp
                </a>
                <a class="w-auto" href="#">
                    <i class="bx bi-phone"></i> @Model.Number
                </a>
            </div>
        </div>
        <div class="col">
            <img class="w-100" src="https://poloniq.ro/uploads/pages/156879/software-comenzi-horeca.jpg" />
        </div>
    </div>
</div>