@using ELAKIL.Business.Entities
@model IEnumerable<Order>
@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
{


    <head>
        <style>
            #topbar, header {
                position: static !important
            }

            .card * {
                font-family: Arial;
                color: black;
            }

            ul {
                list-style: none
            }
        </style>
    </head>
    <main id="main">
        <section class="breadcrumbs">
            <div class="container" data-aos="fade-up">

                <div class="d-flex justify-content-between align-items-center">
                    <a href="/Orders/Index">My Orders</a>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li>Orders</li>
                    </ol>
                </div>

            </div>
        </section>
        <div data-aos="fade-up">
            @if (Model.Count() == 0)
            {
                <h2 style="color: red">No orders yet</h2>
            }
            else
            {
                <ul class="row m-5 p-0">
                    @foreach (var order in Model)
                    {
                        <li class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    Placed at @(order.OrderDate.ToShortDateString()) | Deliver at @(order.DeliverDate?.ToShortDateString()) | Status: @order.Status
                                </div>
                                <div class="card-body">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            @foreach (OrderLine orderLine in order.OrderLines)
                                            {
                                                <div class="card mb-2 overflow-hidden">
                                                    <div class="row">
                                                        <div class="col-3 p-0">
                                                            <img class="w-100 img-fluid" src="@orderLine.Meal.Image" />
                                                        </div>
                                                        <div class="col-9 p-0">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h4>@orderLine.Meal.Name</h4>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <h5>QT. @orderLine.Quantity</h5>
                                                                <p>@orderLine.Meal.Description</p>
                                                                <p>Price :@((orderLine.Quantity*orderLine.Meal.Price).ToString("n2"))</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    Order Total Price: @(order.OrderLines.Sum(a=>a.Meal.Price*a.Quantity).ToString("n2"))
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
        
      
   </main>
}