<li>
    @Html.ActionLink(linkText: "Home", actionName: "Index", controllerName: "Home",
protocol: null, hostname: null, fragment: "hero", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "About", actionName: "Index", controllerName: "About",
protocol: null, hostname: null, fragment: "", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "Menu", actionName: "Index", controllerName: "Home",
protocol: null, hostname: null, fragment: "menu", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "Specials", actionName: "Index", controllerName: "Home",
protocol: null, hostname: null, fragment: "specials", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "Contact Us", actionName: "Contact", controllerName: "ContactUs")
</li>
