@using ELAKIL.Business.IService;
@inject IUserProfileService userProfileService

<li>
    @Html.ActionLink(linkText: "Home", actionName: "Index", controllerName: "Home",
protocol: null, hostname: null, fragment: "hero", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "About", actionName: "Index", controllerName: "About",
protocol: null, hostname: null, fragment: "", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "Menu", actionName: "Index", controllerName: "Home",
protocol: null, hostname: null, fragment: "menu", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "Specials", actionName: "Index", controllerName: "Home",
protocol: null, hostname: null, fragment: "specials", routeValues: null, htmlAttributes: null)
</li>
<li>
    @Html.ActionLink(linkText: "Contact Us", actionName: "Index", controllerName: "Home",
protocol: null, hostname: null, fragment: "contact", routeValues: null, htmlAttributes: null)
</li>
<li>
    <!--{ var myUser = userProfileService.GetUserProfileId(User.Identity.Name);}
    Html.ActionLink(linkText: "Checkout", actionName: "CheckOut", controllerName: "Home",
protocol: null, hostname: null, fragment: "", routeValues: myUser, htmlAttributes: null)
</li>-->
