@model ELAKIL.Business.Entities.Meal

<div class="mt-5 container">
    <div class="mt-5 container">
        <br />
        <br />
    </div>
</div>
<div class="mt-5 container">
    <hr />
    <div class="row container">
        <div class="col-8" id="scoped-content">
            <style>
                dt, dd {
                    display: block;
                    float: left;
                    margin-bottom: 20px;
                }

                dt {
                    clear: both;
                }
            </style>
            <dl class="row mt-5 container">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>
            </dl>
            <div style="padding: 0px 24px 0px 24px;">
                <a asp-action="Index">Back to Home page</a>
                <br />
            </div>
        </div>
        <div class="col-4">
            <img src="@Html.DisplayFor(model => model.Image)" />
        </div>
    </div>
</div>
