@model IEnumerable<Meal>

    @foreach (var item in Model)
    {
        <div  class="col-md-6 menu-item" data-aos="fade-up">
            <img src="@item.Image" style="max-height:200px" class="menu-img" alt="">
            <div class="menu-content">
                <a asp-route-Id="@item.Id" asp-action="ItemDetail">@item.Name</a> <span>@item.Price</span>
            </div>
            <div class="menu-ingredients">
                <div> @item.Description</div>
                @if (!User.IsInRole("Admin"))
                {
                    <div>
                        <a class="scrollto badge" style="font-size: 20px; float: right;" rel="Add To Cart" asp-route-Id="@item.Id" asp-action="AddItemToCart"><i class="bi bi-cart"></i></a>
                    </div>
                }

            </div>

        </div>
    }
 
   
